/* body>* {
     outline: 2px solid deeppink;
 }

 body>*>* {
     outline: 2px dashed lime;
     outline-offset: -2px;
 }

 body>*>*>* {
     outline: 2px dotted dodgerblue;
     outline-offset: -4px;
 }

 body>*>*>*>* {
     outline: 2px dotted grey;
     outline-offset: -4px;
 }
 /* */*/

 @font-face {
     font-family: "Open Sans";
     font-weight: 400;
     font-style: normal;
     src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
 }

 @font-face {
     font-family: "Open Sans";
     font-weight: 700;
     font-style: normal;
     src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
 }

 body {
     min-width: 320px;
     min-height: 100vh;
     font-size: 1em;
     font-weight: 400;
     /*font-family: Open Sans, Arial, sans-serif;*/
     word-wrap: break-word;
     justify-content: space-between;
     color: black;
     background-color: white;
 }

.progress__title {
 	font-size: 1.5em;
    margin: 0;
    font-weight: normal;
    flex-grow: 1;
 }

 .visually-hidden {
     position: absolute;
     overflow: hidden;
     clip: rect(0 0 0 0);
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     white-space: nowrap;
     border: 0;
     -webkit-clip-path: inset(100%);
     clip-path: inset(100%);
 }

 .wrapper {
 	display: flex;
 	flex-direction: column;
 	margin: 1em;
 }


 /* стилизация круга */
 .progress-container {
     position: relative;
     display: flex;
     align-items: flex-end;
     justify-content: center;
     margin: 0.5em;
     min-height: 17rem;
 }

 .progress-bar {
     transform: rotate(-90deg);
 }

 .progress-bar circle {
     stroke-width: 8;
     stroke-dashoffset: 0;
     transition: stroke-dashoffset 1.5s ease-in-out;
     stroke: #bbb;
 }

 .progress-bar .progress-bar__value {
     transform-origin: center;
     stroke: #ffd300;
     stroke-dashoffset: 301.59;
 }
/* выше стилизация круга */
/* стилизация кнопок управления */
 .progress-control {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 0.5em;
     margin-left: 4em;
     min-height: 17rem;

 }

 .progress-control__item {
     display: flex;
     align-items: center;
     min-width: 10.625em;
     margin: 0.5em;
 }

 .progress-control__value{
 	border: 2px solid  #CDD1DA;
 	width: 65px;
    height: 20px;
    border-radius: 13px;
 	
 	text-align: center;
 }

 .progress-control__item .title {
     margin-left: 15px;
     width: 100%;
 }
/* вспомогательные классы */
 .hidden {
 	display: none;
 }
.animate {
	animation: preloader 2.5s infinite linear;
}
@keyframes preloader {
	from {
		transform:rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* «Минимальная ширина 568px, либо носимое устройство в горизонтальном режиме» */
 @media (min-width: 568px), handheld and (orientation: landscape) {
     .wrapper {
         flex-direction: row;
         justify-content: center;
     }
     .progress-container {
     	align-items: center;
     	flex-grow: 0;
     }
     .progress-control{
     	justify-content: center;
     	flex-grow: 3;
     	margin-left: 0;
     }
 }

 /* выше вспомогательные классы */

 /* Чистая стилизация CHECKBOX */
 /* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */

 .checkbox {
     vertical-align: top;
     margin: 0 3px 0 0;
     width: 17px;
     height: 17px;
 }
 /* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */

 .checkbox+label {
     cursor: pointer;
 }
 /* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */
 /* Прячем оригинальный чекбокс. */

 .checkbox:not(checked) {
     position: absolute;
     opacity: 0;
 }

 .checkbox:not(checked)+label {
     position: relative;
     /* будем позиционировать псевдочекбокс относительно label */
     padding: 0 0 0 60px;
     /* оставляем слева от label место под псевдочекбокс */
 }
 /* Оформление первой части чекбокса в выключенном состоянии (фон). */

 .checkbox:not(checked)+label:before {
     content: '';
     position: absolute;
     top: -4px;
     left: 0;
     width: 50px;
     height: 26px;
     border-radius: 13px;
     background:#606265;
     box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
 }
 /* Оформление второй части чекбокса в выключенном состоянии (переключатель). */

 .checkbox:not(checked)+label:after {
     content: '';
     position: absolute;
     top: -2px;
     left: 2px;
     width: 22px;
     height: 22px;
     border-radius: 10px;
     background: #FFF;
     box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
     transition: all .2s;
     /* анимация, чтобы чекбокс переключался плавно */
 }
 /* Меняем фон чекбокса, когда он включен. */

 .checkbox:checked+label:before {
     background: #79e062;
 }
 /* Сдвигаем переключатель чекбокса, когда он включен. */

 .checkbox:checked+label:after {
     left: 26px;
 }
 /* Показываем получение фокуса. */

 .checkbox:focus+label:before {
     box-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
 }